h1 {
  font-size: 9rem;
  margin-top: 2rem;
}

p {
  font-size: 2rem;
  line-height: 3rem;
}

#my-photo {
  margin: 3rem 5rem;
  width: 16rem;
  height: 16rem;
  border-radius: 16rem;
  object-fit: cover;
  object-position: center top;
  display: block;
}
